@page
@using Extensions
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Hem";
}

<div class="header-container d-flex align-items-center justify-content-between">
    <div class="left-side">
        <h1 class="header-title">
            <a asp-area="" asp-page="/Index">
                <img class="logo-img" src="~/img/logo/loggasg.png" alt="Sara Gustafsson logotype" />
            </a>
        </h1>
        <h2 class="header-text">Med hjärtat som kompass</h2>
        <!-- Ta bort iframe-container här -->
    </div>

    <div class="right-side">
        <img class="right-img" src="~/img/logo/jagmedbarnen.png" alt="Bild till höger" />
    </div>
</div>

<!-- Lägg blogginläggen i en egen container här, under hela header-container -->
<div class="blog-posts-container mt-4">
    @await Html.PartialAsync("Shared/_LatestPosts", Model.LatestPosts)
</div>
