@page
@using Extensions
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@{
	ViewData["Title"] = "Home page";
}

@* @if (Model.MyUser != null)
{
	<h3>Hej, @Model.MyUser.Name!</h3> // finns även birthyear om man vill kör en if med det
} *@

@if (Model.ViewModel.Blogg == null || (!Model.ViewModel.Blogg.IsArchived && !Model.ViewModel.Blogg.Hidden))
{
	@await Html.PartialAsync("_BloggList", Model.ViewModel)
}