@page
@model PrivacyModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Om Mig";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        @if (Model.AboutMe != null)
        {
            <div class="card" onclick="showAll()" style="cursor: pointer;">
                <div class="card-body">
                    <img class="card-img-top mb-3" src="~/imgaboutme/@Model.AboutMe.Image" />
                    <h3 class="card-title">@Model.AboutMe.Title</h3>
                    <p class="card-text linebreak">@Model.AboutMe.Content</p>
                </div>
            </div>
        }
    </div>
    }
<script>
    function showAll() {
        window.location.href = '/';
    }
</script>