@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om Mig";
}
<div class="text-center">
    <h1 class="header-title">@ViewData["Title"]</h1>
    <img class="card-img" src="~/img/tree.png" alt="Main Image" />  <br />
    <p>Use this page to detail your site's privacy policy.</p>
</div>