@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om Mig";
}
<div class="text-center">
    <img class="card-img-top" src="~/img/tree.png" alt="Main Image" />  <br />
    <p>Use this page to detail your site's privacy policy.</p>
</div>