@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om Mig";
}
<div class="text-center">
    <img class="card-img-top" src="~/img/tree.png" alt="Main Image" />  <br />
    <p>Use this page to detail your site's privacy policy.</p>
</div>

@* <div class="card">
    <div class="card-body">
        <img class="card-img-top mb-3" src="~/img/@Model.AboutMe.Image" />
        <h3 class="card-title">@Model.AboutMe.Title</h3>
        <p class="card-text linebreak">@Model.AboutMe.Content</p>
        <p class="text-muted">
            <strong>Författare:</strong> @Model.AboutMe.Author<br />
            <strong>Publicerad:</strong> @Model.AboutMe.LaunchDate.ToString("yyyy-MM-dd")
        </p>
    </div>
</div>   *@