/* Header Title and Text */
.header-title {
    font-size: 73px;
    font-weight: normal;
    font-family: 'Script MT', 'Brush Script MT', 'Segoe Script', cursive;
}

.header-text {
    font-size: 37px;
    font-weight: normal;
    font-family: 'Script MT', 'Brush Script MT', 'Segoe Script', cursive;
}

/* Card Images */
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 2 / 1;
    border-radius: 10px;
    max-width: none;

}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}



/* Dark Mode */
[data-bs-theme="dark"] {
    background-color: #121212;
    color: #e0e0e0;
}

    [data-bs-theme="dark"] .navbar {
        background-color: #333;
    }

    [data-bs-theme="dark"] .navbar-light .navbar-nav .nav-link {
        color: #e0e0e0;
    }

    [data-bs-theme="dark"] .navbar-light .navbar-brand {
        color: #e0e0e0;
    }

    [data-bs-theme="dark"] .header-title,
    [data-bs-theme="dark"] .header-text {
        color: #e0e0e0;
    }

/* Light Mode */
[data-bs-theme="light"] {
    background-color: #fff;
    color: #000;
}

    [data-bs-theme="light"] .navbar {
        background-color: #f8f9fa;
    }

    [data-bs-theme="light"] .navbar-light .navbar-nav .nav-link {
        color: #000;
    }

    [data-bs-theme="light"] .navbar-light .navbar-brand {
        color: #000;
    }

    [data-bs-theme="light"] .header-title,
    [data-bs-theme="light"] .header-text {
        color: #333;
    }

    /**/
.btn-toggle-mode {
    background-color: var(--btn-bg-color, #f8f9fa); /* Light mode default */
    color: var(--btn-text-color, #212529); /* Light mode default */
    border: 1px solid var(--btn-border-color, #ced4da); /* Light mode default */
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

 .btn-toggle-mode:hover {
        background-color: var(--btn-hover-bg-color, #e2e6ea); /* Light mode hover */
        color: var(--btn-hover-text-color, #212529); /* Light mode hover */
    }