/* Header Title and Text */
.header-title {
    font-size: 73px;
    font-weight: normal;
    font-family: 'Dancing Script', 'Script MT', 'Brush Script MT', 'Segoe Script', cursive;
}

.header-text {
    font-size: 30px;
    font-weight: normal;
    font-family: 'Script MT', 'Brush Script MT', 'Segoe Script', cursive;
    color: #C48A7D !important;
    -webkit-text-stroke: 0.2px #000;
    text-stroke: 0.2px #000;
}

.menutext {
    color: #C48A7D !important;
    font-size: 19px !important;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    -webkit-text-stroke: 0.2px #000;
    text-stroke: 0.2px #000;
}

    .menutext:hover {
        font-weight: bold;
    }

/* Card */
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 2 / 1;
    border-radius: 10px;
    max-width: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}

.cardsize {
   max-width: 80rem;
   margin: 0 auto;
}

.mynav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    list-style: none; /* Removes bullet points */
    margin: 0; /* Removes default margin */
    padding-left: 0; /* Removes default padding */
}

.mynavbar {
    position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

    .mynavbar.mynav {
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }


/* Dark Mode */
[data-bs-theme="dark"] .mynav {
    color: #e0e0e0;
}

[data-bs-theme="dark"] .mynavbar {
    color: #e0e0e0;
}

[data-bs-theme="dark"] .mynavbar-light .mynavbar-mynav .nav-link {
    color: #e0e0e0;
}

[data-bs-theme="dark"] .mynavbar-light .navbar-brand {
    color: #e0e0e0;
}

[data-bs-theme="dark"] .header-title,
[data-bs-theme="dark"] .header-text {
    color: #e0e0e0;
}

[data-bs-theme="dark"] .mynavbar-light .mynavbar-mynav li {
    background-color: #444;
    border-radius: 5px;
    margin: 5px;
}

    [data-bs-theme="dark"] .mynavbar-light .mynavbar-mynav li:hover {
        color: #e0e0e0;
    }

/* Light Mode */
[data-bs-theme="light"] .mynav {
    color: #333;
}

[data-bs-theme="light"] .mynavbar {
    color: #333;
}

[data-bs-theme="light"] .mynavbar-light .mynavbar-nav .nav-link {
    color: #333;
}

[data-bs-theme="light"] .mynavbar-light .mynavbar-brand {
    color: #333;
}

[data-bs-theme="light"] .header-title,
[data-bs-theme="light"] .header-text {
    color: #333;
}

[data-bs-theme="light"] .mynavbar-light .mynavbar-nav li {
    background-color: #e9ecef;
    border-radius: 5px;
    margin: 5px;
}

    [data-bs-theme="light"] .mynavbar-light .mynavbar-nav li:hover {
        color: #333;
    }
