@page
@model PersonalDataModel
@{
	ViewData["Title"] = "Personliga data";
	ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
	<div class="col-md-6">
		<p>Ditt konto innehåller personuppgifter som du lämnat. Här kan du ladda ner eller radera dem.</p>
		<p><strong>Radering tar bort ditt konto permanent och kan inte ångras.</strong></p>

		@if (Model.Personal is not null)
		{
			<h5>Profil</h5>
			<table class="table table-sm">
				@foreach (var kv in Model.Personal.Data)
				{

					<tr><th>@kv.Key</th><td>@kv.Value</td></tr>
				}

			</table>
		}

		<form id="download-data" asp-page="DownloadPersonalData" method="post">
			<button class="btn btn-primary" type="submit">Download</button>
		</form>
		<p>
			<a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Radera konto</a>
		</p>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
