@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Glömt lösenord?";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ange din e-postadress så skickar vi instruktioner för att återställa ditt lösenord.
</p>
<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="namn@exempel.se" />
                <label asp-for="Input.Email" class="form-label">E-postadress</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Skicka återställningslänk</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
