@page
@model LoginModel

@{
    ViewData["Title"] = "Logga in";
}


<h1 class="blogg-title mb-4">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form id="account" method="post" class="p-3 border rounded shadow-sm bg-light">
            <h2 class="blogg-title mb-3">Använd ditt konto för att logga in</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.UserNameOrEmail" class="form-control" autocomplete="username" aria-required="true" placeholder="E-post eller användarnamn" />
                <label asp-for="Input.UserNameOrEmail" class="form-label">E-post eller användarnamn</label>
                <span asp-validation-for="Input.UserNameOrEmail" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Lösenord" />
                <label asp-for="Input.Password" class="form-label">Lösenord</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                <label asp-for="Input.RememberMe" class="form-check-label">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
            </div>

            <button id="login-submit" type="submit" class="w-100 btn blog-btn">
                Logga in
            </button>

            <div class="mt-3 login-links">
                <a id="forgot-password" asp-page="./ForgotPassword">Glömt lösenord?</a><br />
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrera nytt konto</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const btn = document.getElementById("login-submit");
            const form = document.getElementById("account");

            if (btn && form) {
                btn.addEventListener("click", function () {
                    // disable direkt
                    btn.disabled = true;
                    btn.innerText = "Loggar in...";

                    // se till att formuläret postas
                    form.submit();
                });
            }
        });
    </script>
}

