@page
@model SarasBlogg.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Bekräfta registrering";
}

<h1>@ViewData["Title"]</h1>

@if (Model.DisplayConfirmAccountLink)
{
    <p>
        Din e-post är inte bekräftad ännu. Klicka på länken nedan för att bekräfta:
        <br />
        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Bekräfta e-post</a>
    </p>
}
else
{
    <p>
        Kontrollera din e-post för att bekräfta kontot.
    </p>
}
