@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Lösenord uppdaterat";
}
<div class="row">
    <div class="col-lg-6">
        <h1 class="mb-3">@ViewData["Title"]</h1>
        <p>Ditt lösenord har uppdaterats. Du kan nu logga in med ditt nya lösenord.</p>
        <div class="d-flex gap-2 mt-4">
            <a asp-page="./Login" class="btn btn-primary">Gå till inloggning</a>
            <a asp-page="/Index" class="btn btn-outline-secondary">Till startsidan</a>
        </div>
    </div>
</div>
