@using Microsoft.AspNetCore.Http.Features
@{
	var consentFeatureFlag = Context.Features.Get<ITrackingConsentFeature>();
	var showBannerFlag = !consentFeatureFlag?.CanTrack ?? false;
	var cookieString = consentFeatureFlag?.CreateConsentCookie();
}

@if (showBannerFlag)
{
    <div id="cookieConsentdiv" class="position-fixed bottom-0 start-50 translate-middle-x alert alert-secondary shadow-lg rounded-4 p-3 text-center" style="z-index: 2000; min-width: 320px; max-width: 95vw; width: 500px;">
		<h3 class="display-6">Vår cookie-policy</h3>
		<p>Vi använder endast nödvändiga cookies för att webbplatsen ska fungera korrekt. Genom att klicka på Acceptera godkänner du detta – och du slipper dessutom se den här rutan igen.</p>
		<a href="#" id="showPrivacyContent">Läs mer här</a>
		<div id="privacyContent" style="display:none; margin-top:1em;">
			@await Html.PartialAsync("_PrivacyContent")
		</div>
		<button type="button" data-cookie-string="@cookieString" class="btn btn-primary mt-2">
			Acceptera
		</button>
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			const $body = $('body');
			const $banner = $("#cookieConsentdiv");

			// ⬅️ Om localStorage redan har samtycke, göm bannern direkt
@* 			if (localStorage.getItem("cookieAccepted") === "true") {
				$banner.hide();
				return;
			} *@

			// Hantera "Acceptera"-knappen
			$("#cookieConsentdiv button[data-cookie-string]").on("click", function () {
				const cookieValue = $(this).attr("data-cookie-string");
				document.cookie = cookieValue;
				@* localStorage.setItem("cookieAccepted", "true"); *@
				$banner.hide();
				$body.removeClass("modal-open");

				// ⬅️ Tvinga server att uppfatta cookien
				window.location.reload();
			});

			// Visa/dölj sekretessinnehållet
			$("#showPrivacyContent").on("click", function (e) {
				e.preventDefault();
				const $privacyContent = $("#privacyContent");
				const isVisible = $privacyContent.is(":visible");

				$privacyContent.toggle();

				if (isVisible) {
					$(this).text("Läs mer här");
					$body.removeClass("modal-open");
				} else {
					$(this).text("Visa mindre");
					$body.addClass("modal-open");
				}
			});
		});
	</script>
}