@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var userName = user?.Name ?? user?.UserName;
}

<!-- Dold POST-form för utloggning -->
<form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout"
      asp-route-returnUrl="@Url.Page("/Index", new { area = "" })"
      method="post" class="d-none"></form>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="menutext-sm nav-link theme-dependent"
               asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hej @userName!
            </a>
        </li>
        <li class="nav-item">
            <a class="menutext-sm nav-link theme-dependent" href="#"
               onclick="document.getElementById('logoutForm').submit(); return false;">
                Logga ut
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="menutext-sm nav-link theme-dependent"
               asp-area="Identity" asp-page="/Account/Login">Logga in</a>
        </li>
    }
</ul>